body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 500px;
	height: 500px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.pic {
	width: 80px;
	height: 90px;
}
.heading {
	font-family: "Courier";
	font-size: 30px;
	width: 410px;
	margin: 0px;
	padding-top: 25px;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding-left: 15px;
	padding-right: 25px;
}
.text {
	font-family: "courier new";
	font-size: 20px;
}

.body.right {
	padding-right: 10px;
	padding-left: 10px;
}
.list {
	list-style: none;
}
.name {
	width: 190px;
	height: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid rgb(163, 163, 163);
}
.email {
	width: 190px;
	height: 30px;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid rgb(201, 201, 201);
}
.comments {
	width: 190px;
	height: 30px;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid rgb(201, 201, 201);
}
.postcard-footer {
	text-align: center;
}
.boton {
	font-size: 18px;
	background: rgb(150, 150, 150);
	padding-left: 5px;
	width: 100px;
	border-radius: 5px;
}
